body {
	height: 20px;
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

.text-intro	{
	position: relative;
	margin: 0 auto 50px auto;
	text-align: center;
	max-width: 600px;
}

.max-width {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
}

.code {
	background-color: #e5e5e5;
	border-radius: 10px;
}

/* Scratch */
.scratch_container {
	position: relative;
	margin: 0 auto;
	max-width: 1024px;
}

.scratch_viewport {
	position: relative;
	max-width: 250px;
	max-height: 250px;
	margin: 0 auto;
	z-index: 0;
}

.scratch_picture-under {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: -1;
}

.scratch_container canvas {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
}