body {
 	background: #000; 
}

img {
  display: block;
	float: left; 
  margin: 0 1px 0 0;
}

canvas {
  background: #131c35 linear-gradient(#192853, #131c35);
	display: block;
  float: left;
  
  /* uncomment to test overlay */
  
  /*
  position: absolute;
  left: 0;
  opacity: .5;
  top: 0;
  */  
  
}